:root {
    --background-color: #FEF9E1;
    --sidebar-bg: #C14600;
    --sidebar-text: #FEF9E1;
    --h2-color: #FF9D23;
    --h1-color: #FEF9E1;
    --h3-color: #5a2c0cd8;
    --border-color: rgba(193, 70, 0, 0.7);
    --content-text: #5a2d0c;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: var(--content-text);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-bg);
    padding: 15px;
    color: var(--sidebar-text);
}

.header-container {
    display: flex;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    justify-content: left;
}

.page-title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
}

/* Footer Styling */
footer {
    text-align: center;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    padding: 15px;
    margin-top: 30px;
    font-size: 16px;
}

footer a {
    color: var(--sidebar-text);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    color: var(--h1-color);
    font-size: 28px;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: var(--h2-color);
    font-size: 24px;
}

h3 {
    font-family: "Trebuchet MS", sans-serif;
    color: var(--h3-color);
    font-size: 20px;
}

a {
    color: var(--h2-color);
    text-decoration: underline;
}

a:hover {
    color: var(--border-color);
    text-decoration: underline;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.image-container img {
    max-width: 45%;
    height: auto;
}

@media (max-width: 1000px) {
    body {
        font-size: 18px;
    }
    .image-container {
        flex-direction: column;
    }
}
